<div id=business" class="business">

    {{#if errorMessage}}
        <span class="error-message">{{errorMessage}}</span>
    {{else}}

    <div class="header-page">
        <div class="title">
            <h1><span id="name-business">{{name}}</span> {{category}}</h1>
            <h3>@{{name}}</h3>
        </div>
        <div class="avg-evaluation">
            <h3>Avg Evaluation : {{avarage}}/5 </h3>
        </div>
        <div class="img">
            <img src="{{img}}">
        </div>
    </div>/div>
                    <div id="8">


    {{#if isPerson}}
        <div class="add-review">
            <div class="head-review">
                <p>{{userName}}</p>
            </div>
            <div class="body-review">
                <textarea placeholder="Add your opinion .." id="text-review"></textarea>
            <div class="foot-review">
                <ul class="stars">
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                    <li class="fa fa-star"></li>
                </ul>
                <div class="send">
                    <button type="submit" id="send-button">Send</button>
                </div>
            </div>
            </div>
        </div>
    {{/if}}

    <div id="info">
        <div class="switch">
            <button type="submit" id="reviews-button">reviews</button>
            <button type="submit" id="about-button">about</button>
        </div>
        <div class="div-switch">
            <div id="reviews-div" class="reviews-div">
                <div id="current-data"></div>
            {{#each responseReview}}
                <div id="{{id}}">
                    <a href="/user_profile/{{username}}" id="{{username}}" >@{{username}}</a>
                    <p id="content" >{{content}}</p>
                    <p id="evaluation" >{{evaluation}}/5</p>
                    <hr>
                </div>
            {{/each}}
        </div>
            <div id="about-div" class="about-div">
                <h2>Bio:</h2>
                <p id="description">{{description}}</p>
                <h2>Location:</h2>
                <p id="address">{{address}}</p>
                <h2>Type:</h2>
                <p id="category">#{{category}}</p>
            </div>
        </div>
    </div>
    {{/if}}
</div>
