    {{#if errorMessage}}
        <span class="error-message">{{errorMessage}}</span>
    {{else}}

    <div class="profile">
            <div class="header-page">
                <div class="profile-top">
                     <img class="img-icon" src={{img}}>
                    <div class="title user-data">
                        <h2><span id="name-business">{{name}}</span> {{category}}</h2>
                        <p>@{{name}}</p>
                    </div>
                </div>

                <div class="avg-evaluation">
                    <img class="img-cover" src="{{img}}">
                    <div class="rgba">
                        <h1 id="avarage">{{avarage}}</h1>
                        <ul class="stars">
                            <li id="one-star" class="fa fa-star"></li>
                            <li id="two-star" class="fa fa-star"></li>
                            <li id="three-star" class="fa fa-star"></li>
                            <li id="four-star" class="fa fa-star"></li>
                            <li id="five-star" class="fa fa-star"></li>
                        </ul>
                    </div>
              </div>
            </div>

            <div class="switch">
                <button type="submit" class="btn-switch tap" id="reviews-button">reviews</button>
                <button type="submit" class="btn-switch" id="about-button">about</button>
            </div>

              {{#if isPerson}}
                    <section class="add-review">
                        <div class="head-review">
                            <h3>Add your own oponion</h3>
                            <p>{{userName}}</p>
                        </div>
                        <div class="body-review">
                            <textarea placeholder="Add your opinion .." id="text-review"></textarea>
                        <div class="foot-review">
                            <p>rate this place and choose from 5 stars </p>
                            <ul class="stars" id="stars">
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                                <li class="fa fa-star"></li>
                            </ul>
                                <button type="submit" class = "btn-send" id="send-button">Evaluate</button>
                        </div>
                        </div>
                    </section>
                {{/if}}

        <div id="reviews" class="reviews-section" >
            <h2 class="review-title">users reviews</h2>
            <div id="current-data"></div>
            <div class="review">
                {{#each responseReview}}
                    <div class="result">
                        <p class="evaluation-content">{{content}}</p>
                        <div class="review-footer">
                            <h3 class="user"> <a href="/user_profile/{{username}}" id="{{username}}" > by: {{username}}</a></h3>
                            <p id="evaluation">{{evaluation}}</p>
                            <ul class="stars">
                                <li id="one-star" class="fa fa-star"></li>
                                <li id="two-star" class="fa fa-star"></li>
                                <li id="three-star" class="fa fa-star"></li>
                                <li id="four-star" class="fa fa-star"></li>
                                <li id="five-star" class="fa fa-star"></li>
                            </ul>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <div id="about-div" class="info about-div">
            <h3>Bio:</h3>
            <p id="description">{{description}}</p>
            <h3>Location:</h3>
            <p id="address">{{address}}</p>
            <h3>Type:</h3>
            <p id="category">#{{category}}</p>
        </div>


    {{/if}}
    </div>

