<div id=business" class="business">

    {{#if errorMessage}}
        <span class="error-message">{{errorMessage}}</span>
    {{else}}

        <div class="title">
            <h1>{{name}} {{category}}</h1>
            <h3><a href="/business?name={{name}}">@{{name}}</a></h3>
        </div>
        <div class="avg-evaluation">
            <h3>Avg Evaluation : {{avg}}/5 </h3>
        </div>
        <div class="img">
            <img src="{{img}}">
        </div>
        <div id="info">
            <div class="switch">
                <button type="submit" id="reviews-button">reviews</button>
                <button type="submit" id="about-button">about</button>
            </div>
            <div class="div-switch">
                <div id="reviews-div" class="reviews-div">
                {{#each responseReview}}
                    <div id="{{id}}" class="result">
                        <a href="/user_profile/{{username}}" id="{{username}}" class="link-name">{{username}}</a>
                        <div class="content">
                            <p>{{content}}</p>
                        </div>
                        <p id="evaluation" >{{evaluation}}</p>
                        <ul class="stars">
                            <li id="one-star" class=" fa fa-star"></li>
                            <li id="two-star" class=" fa fa-star"></li>
                            <li id="three-star" class=" fa fa-star"></li>
                            <li id="four-star" class="fa fa-star"></li>
                            <li id="five-star " class="fa fa-star"></li>
                        </ul>
                    </div>
                {{/each}}
            </div>
                <div id="about-div" class="about-div">
                    <h2>Bio:</h2>
                    <p id="description">{{description}}</p>
                    <h2>Location:</h2>
                    <p id="address">{{address}}</p>
                    <h2>Type:</h2>
                    <p id="category">#{{category}}</p>
                </div>
            </div>
        </div>
    {{/if}}
</div>
