<section class="category-section">
  <h2><span>top</span> Options for your choice</h2>
  <div class="cat-result">
    {{#if messageError }}
        <h4>{{messageError}}</h4>
    {{/if}}
        {{#each result}}
          <div class="cat-result-pic" >
            <img class="cat-photo" id="{{name}}" src="{{img}}">
            <div  class="cat-data">
              <h2 id="{{name}}" class="cat-name">{{name}}</h2>
              <h3 id="avg">{{avg}}</h3>
                <ul class="stars">
                    <li id="one-star" class=" fa fa-star"></li>
                    <li id="two-star" class=" fa fa-star"></li>
                    <li id="three-star" class=" fa fa-star"></li>
                    <li id="four-star" class="fa fa-star"></li>
                    <li id="five-star" class="fa fa-star"></li>
                </ul>
            </div>
          </div>
        {{/each}}
  </div>
</section>
