
<section class="category-section">
  <div class="categoriesBtns">
    <button id="cafe" class="categories" type="button" >
        <img id="coffeeCup" src="./images/coffee-cup.svg" >
        <div class="rgba"><p>coffee shops</p></div>
    </button>
    <button id="park" class="categories" type="button">
        <img  id="parks" src="./images/park.svg" >
        <div class="rgba"><p>parks</p></div>
    </button>
    <button id="restaurant" class="categories"  type="button" >
        <img  id="tray" src="./images/tray.svg" >
        <div class="rgba"><p>restaurants</p></div>
    </button>
  </div>
</section>

<section class="search-section">
    <h2> <span class="fas fa-search "></span> Search about place</h2>
    <form class="search-form" action="" method="get">
        <label for="search-input" >
            <input list="data" class="search-input" type="text" name="saerch" id="search" placeholder="voyage searcher.." autocomplete="on">
        </label>
        <datalist id="data" ></datalist>
    </form>
</section>

<div class="reviews-section">
    <div class="review">
        {{#each response}}
            <h3> <a href="/user_profile/{{username}}" id="{{username}}" >@{{username}}</a></h3>
            <p>content: {{content}}</p>
            <h3><a href="/business?name={{name}}" >name business: {{name}}</a></h3>
            <h3>evaluation: {{evaluation}}/5</h3>
            <button id="show-comments" class="fas fa-comments">comments</button>
        {{/each}}
        <h3>comment : </h3>
        <div class="comments">
            <button class="add-comment fas fa-plus-square">Add new</button>
            <div class="add-comment">
                <label for="comment">
                    <input type="text" name="comment" id="comment-input">
                </label>
                <button type="submit" id="send-button">add comment</button>
            </div>  
        </div>
    </div>
    
</div>
