<section class="profile-section">

  {{#if message}}
  <p>{{message}}</p>
  {{else}}


  <div class="profile">
    <div class="profile-top">
      <img class="user-img" src={{img}}>
      <div class="user-data">
        <h2>{{username}}</a></h2>
        <p><a href="/user_profile/{{username}}" id="{{username}}" >@{{username}}</a></p>
      </div>
   </div>


    <div class="switch">
      <button type="submit" class="btn-switch" id="info-button">informations</button>
      <button type="submit" class="btn-switch tap" id="reviews-button">reviews</button>
    </div>
  </div>

<div class="info" id="info">
  {{#each response}}
    <h3><span>username :</span><a href="/user_profile/{{username}}" id="{{username}}" >{{username}}</a></h3>
    <h4><span>first name :</span> {{first_name}}</h4>
    <h4> <span>last name :</span> {{last_name}}</h4>
    <h4><span>email :</span>{{email}}</h4>
    <h4><span>birthday :</span>{{birthday}}</h4>
    <h4><span>gender:</span> {{gender}}</h4>
  {{/each }}
</div>

<div class="reviews-section reviews" id="reviews">
    <h2 class="review-title">user reviews</h2>
    <div class="review" id="{{id}}">
        {{#each result}}
            <div class="result">
                <h3 class="user"> <a href="/user_profile/{{username}}" id="{{username}}" > by: {{username}}</a></h3>
                <p class="evaluation-content">{{content}}</p>
                <div class="review-footer">
                    <h3 class="business"><a href="/business?name={{name}}" >@ {{name}}</a></h3>
                    <p id="evaluation">{{evaluation}}</p>
                    <ul class="stars">
                        <li id="one-star" class=" fa fa-star"></li>
                        <li id="two-star" class=" fa fa-star"></li>
                        <li id="three-star" class=" fa fa-star"></li>
                        <li id="four-star" class="fa fa-star"></li>
                        <li id="five-star" class="fa fa-star"></li>
                    </ul>
                </div>
            </div>
        {{/each}}
    </div>
</div>
  {{/if}}
</section>
